table.minimalistBlack {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.minimalistBlack td, table.minimalistBlack th {
	border: 0.5pt solid #000000;
	padding: 2pt 1pt;
}

table.minimalistBlack tbody td {
	font-family: Courier New, Courier, monospace;
	font-size: 8pt;
	font-weight: bold;
}

table.minimalistBlack thead {
	background: #CFCFCF;
	display: table-header-group;
}

table.minimalistBlack thead th {
	font-size: 12pt;
	font-family: Courier New, Courier, monospace;
	font-weight: bolder;
	color: #000000;
	text-align: center;
}

table.minimalistBlack tfoot {
	color: #000000;
	display: table-footer-group;
}

table.minimalistBlack tfoot th {
	font-size: 10pt;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
}

h4 {
	font-family: Courier New, Courier, monospace;
}
